[submodule "SPTLib"]
	path = SPTLib
	url = https://github.com/YaLTeR/SPTLib.git
	shallow = true
[submodule "SDK/swarm"]
	path = SDK/swarm
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = swarm
	shallow = true
